.tasks {
  display: flex;
  justify-content: space-around;
  flex-grow: 0;
  flex-wrap: wrap;
  padding: 0 1em;
}

.tasks h1, .sorting-form {
  width: 100%;
  text-align: center;
}

.sorting-form {
  margin-bottom: 1em;
}

.sorting-form div {
  display: flex;
  justify-content: center;
}

.sorting-form label {
  display: flex;
  align-items: center;
  margin: 0 .5em;
}

.sorting-form label input {
  margin: 0 .2em;
}

.sorting-form button {
  background-color: #346856;
  color: #e0f8d0;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  height: 2em;
}

.new-task-form {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
}

.new-task-form button {
  background-color: #346856;
  color: #e0f8d0;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  height: 2em;
  margin-top: 1em;
}

.tasks-list {
  flex-grow: 1;
  margin: 0 2em;
  max-width: 70vw;
}

.task-container {
  padding: .5em;
  margin: .5em;
  border-radius: 6px;
  box-shadow: 0 0 6px -2px #081820;
  background-color: #e0f8d0;
}

.task-text {
  margin-bottom: .5em;
}

.task-container p {
  margin-bottom: 1em;
}

.task-container span {
  font-size: .9em;
  margin-right: 1em;
  background-color: #88c070;
  color: #081820;
  border-radius: 3px;
  padding: 0 .3em;
}


.task-status-control {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.task-status-control button  {
  width: 10em;
  background-color: #346856;
  color: #e0f8d0;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  height: 2em;
}